<h1>Welcome to PhotoStream</h1>

<h2>What is PhotoStream?</h2>
<p>PhotoStream is an easy way for you to stream live photos at your event. Guests can take photographs using thier smart devises, instantly upload them to PhotoStream using a generated Url, and see thier images live!</p>

<h2>How to use PhotoStream?</h2>
<p>It's easy! Just create an acount, create your event and pass along the photo upload link to your guests.</p>

<h3>Ready to get started?</h3>

<%= link_to "Get Started!", new_user_path, class: "btn btn-success btn-lg" %>