<h1>Photo Index</h1>

<div id="imageContainer">
	<img src="#" id="imageSwap">
</div>

<% @photos.each do |photo| %>
	<%= image_tag photo.image.url(:medium) %><br>
	
<% end %>

<h3>TODO: need to update so you see all photostreamed here.</h3>
