// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.newEvent {
	margin: 20px 0px;
}

/*Event Show Page*/

.stream {
	float: right;
}

.email,
.edit,
.delete {
	margin-top: 10%;
	float: right;
}

.delete,
.edit {
	margin-right: 15px;
}